
@import "../constants/colors";
.artwork {
  float: left;
  cursor: pointer;

  .aw-header {
    width: 100%;
    height: 15px;
    margin-bottom: 10px;
    background-color: $color-yellow;
  }

  .aw-image-container {
    width: 100%;
    height: 100%;

    .image {
      width: 100%;
    }
  }

  .aw-title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
  }

  .aw-subtitle {
    font-style: italic;
    color: black !important;
  }
}