@import 'constants/colors';
@import "mixins/sprite";

.footer {
//	max-width: 940px;
  padding: 17px 0;
  border-top: 10px solid $color-black;
	ul {
    margin: 0px;
	}

  .logo {
  	width: 80px;
  	height: 32px;
		@include sprite(0, 644);
  }

  .link-1 {
  	font-size: 16px;
  	
  	li {
  		white-space: nowrap;
  	}
		
		.info {
			  margin-top: 30px;
		}
  }

  .icons {
    text-align: right;
    zoom: .7;

    .icon {
      width: 37px;
      height: 37px;
      display: inline-block;
      margin: 0px 3px;

      &.fb {
				@include sprite(0, 394);
      }

      &.twitter {
				@include sprite(-5, 489);
      }

      &.instagram {
				@include sprite(0, 607);
      }

      &:hover {
        color: $color-blue-dark;
      }
    }
  }
}

@media (max-width: 450px) {
  .footer {
    .logo {
      zoom: .7;
      @include sprite(0, 646);
    }  
  }
}