@import "constants/colors";
@import "constants/zIndex";
@import "mixins/animation";
@import "mixins/sprite";


.show-mobile-nav {

		.nav-sub {
			position: fixed;
			padding: 20px 0px;
  			height: 100%;
  			background: none;
			@include transform(translate3d(0,40px,0));
			z-index: $zIndex-1;

			.mobile-nav-container {
				background-color: white;
			}
		}
}


.nav-sub {
	position: absolute;
	width: 100%;
	background-color: $color-white;
	padding-bottom: 10px;
	padding: 10px;
	@include transform(translate3d(0,-300px,0));
	@include transition(all 0.2s);

	&:after {
		content: " ";
		width: 100%;
		
		padding-bottom: 10px;
		padding: 0px;
		@include transform(translate3d(0,-300px,0));
		@include transition(all 0.2s);
	}

	.lang {
		background-color: $color-white;
	}

	.nav-item {
	  color: #000000;
	  text-transform: uppercase;
	  background-color: $color-white;
	  text-align: left;
	  font-weight: bold;
	  display: inline-block;
	  width: 100%;
	  padding: 12px 13px 12px 30px;
	  border-bottom: 1px solid $color-grey;

	  &.active {
          color: $color-yellow;
          font-weight: bold;
        }

	  .nav-icon {
	    float: right;
	    @include sprite(0, 696);
	    width: 20px;
	    height: 20px;
	  }
	}
}


@media (min-width: 768px) {
  .nav-sub.nav-hidden-sm {
    display: none !important;
    width: 0px;
    height: 0px;
  }
}

@media (max-width: 500px) {
  .show-mobile-nav {

		.nav-sub {
			@include transform(translate3d(0,20px,0));

		}
	}
}