@import "../constants/colors";

.conversation.page {
	padding-top: 80px;

	.conversation-page-main {
		.conversation-page-hero {
			padding: 30px 0px;
			min-height: 500px;

			.conversation-hero {
				.conversation-hero-image {
					position: relative;
					height: 500px;
	  				background-size: cover;

	  				.conversation-hero-image-category {
	  					position: absolute;
						width: 70px;
						font-weight: 900;
						height: 15px;
						background-color: black;
						text-align: center;
						text-transform: uppercase;
						color: white;
						top: 30px;
						left: 0px;
						line-height: 15px;
  						font-size: 14px;
	  				}

	  				.conversation-hero-title {
	  					position: absolute;
	  					padding: 15px 10px;
	  					font-size: 26px;
						font-weight: 900;
						background-color: black;
						text-align: left;
						text-transform: uppercase;
						color: white;
						top: 60px;
						left: 0px;
	  				}
				}

				.conversation-hero-content {
					position: relative;
					min-height: 500px;
					background-color: $color-yellow;

					.conversation-hero-content-description {
						font-size: 20px;
						  font-weight: 700;
						  color: $color-white;
						  padding-top: 30px;
						  line-height: 28px;
					}

					.conversation-hero-btn {
						width: 115px;
						padding: 10px;
						background-color: $color-black;
						color: $color-white;
						text-transform: uppercase;
						font-weight: 900;
						margin-top: 10px;
					}
				}
			}
		}


		.conversation-list-row {
			margin-bottom: 50px;

			.conversation-list-item {
				margin-bottom: 10px;
				
				.conversation-item-header {
					height: 15px;
					text-transform: uppercase;
					font-weight: 900;
					color: $color-white;
					margin-bottom: 5px;
					background-color: $color-yellow;

					.conversation-item-category {
						float: left;	
						padding: 0px 5px;
						background-color: $color-black;
						line-height: 15px;
						height: 15px;
						font-size: 15px;
						text-align: center;
					}

					.conversation-item-category-extra {
						background-color: $color-white;
						float: left;
						height: 15px;
						width: 5%;
					}
				}

				.conversation-image {
					width: 100%;
					height: 300px;
	  				background-size: cover;
	  				margin: 5px 0px;
				}

				.conversation-title, .conversation-more {
					margin:0px;
					font-weight: 900;
					text-transform: uppercase;
					font-size: 16px;
				}

				.conversation-description {
					margin: 15px 0px;
					color: black !important;
				}
			}
		}
	}
}

@media (max-width: 500px) { 
	.conversation.page {
		padding-top: 60px !important;

		.conversation-content-title {
			font-size: 20px !important;
			padding: 0px !important;
		}
	}
}