@import "../constants/colors";

.conversation.detail {
	padding-top: 80px;
	padding-bottom: 50px;
	
	.conversation-detail-container {
		position: relative;
		height: 100%;
		padding-top: 30px;
		
		.conversation-video {
			text-align: center;
		}

		.conversation-content-more {

			.conversation-more {
				padding-left: 10px;
				color: $color-yellow;
				text-transform: uppercase;
				font-weight: 900;
			}

			.conversation-more-main {

				.conversation-list-item {
					.conversation-item-header {
						height: 15px;
						text-transform: uppercase;
						font-weight: 900;
						color: $color-white;
						margin-bottom: 5px;
						background-color: $color-yellow;

						.conversation-item-category {
							float: left;	
							padding: 0px 5px;
							background-color: $color-black;
							line-height: 15px;
							height: 15px;
							font-size: 15px;
							text-align: center;
						}

						.conversation-item-category-extra {
							background-color: $color-white;
							float: left;
							height: 15px;
							width: 5%;
						}
					}

					.conversation-image {
						width: 100%;
						height: 300px;
		  				background-size: cover;
		  				margin: 5px 0px;
					}

					.conversation-title, .conversation-more {
						margin:0px;
						font-weight: 900;
						text-transform: uppercase;
						font-size: 16px;
					}

					.conversation-description {
						margin: 15px 0px;
					}
				}
			}
		}

		.conversation-content-container {
			
			.conversation-carousel {
				opacity: .1;
				
				&.slick-center {
			        opacity: 1;
			    }
				.conversation-image {
					max-height: 400px;
					margin: 0 auto;
				}	
				.conversation-caption {
					width: 80%;
					text-align: center;
					font-size: 14px;
					color: $color-grey;
					margin: 0 auto;
				}
			}

			.conversation-content-category {
				span {
					color: #ffffff;
					float: left;
					background-color: #000000;
					line-height: 20px;
					height: 20px;
					text-align: left;
					text-transform: uppercase;
					padding: 0 5px;
					font-weight: 700;
				}
			}

			.conversation-content-title {
				span {
					color: #ffffff;
					float: left;
					background-color: #000000;
					line-height: 28px;
					text-align: left;
					text-transform: uppercase;
					padding: 10px 35px;
					font-weight: 900;
				}
			}
			
			.conversation-content-subtitle {
				font-weight: 400;
			}
			.conversation-content {
				line-height: 1.5;
			}
		}
	}	
}

@media (max-width: 500px) { 
	.conversation.detail {
		padding-top: 60px !important;

		.conversation-content-container {

			.conversation-carousel {
				opacity: 1 !important;
			}

			.conversation-content {
				.conversation-carousel {
					.conversation-image {
						max-height: 250px !important;
					}

					.conversation-caption {
						font-size: 14px;
					}
				}
			}
		}
	}
}