.home {
  padding-top: 80px;
	
  .more-container {
  	color: #ffffff;
  }

  .home-main {
  	border-top: 1px solid #e5e5e5;;
  	margin-top: 30px;
  }
}

@media (max-width: 500px) { 

	.home {
		padding-top: 60px !important;
	}

}