@import "../constants/colors";

.screenshot.page {
	.screenshot-page-main-container {
		padding: 20px 0px;
		
		.screenshot-page-hero {
			
			.screenshot-hero-title {
				text-transform: uppercase;
				font-weight: 600;
				font-size: 18px;
			}

			.screenshot-image {
				height: 400px;
			}
		}

		.screenshot-page-main {
			margin-top: 20px;
			
			.screenshot-list-item {
				.screenshot-item-header {
					border-top: 5px solid $color-yellow;
					padding-top: 5px;
				}

				.screenshot-image {
					width: 100%;
					height: 300px;
					background-size: cover;
					margin: 5px 0px;
				}
			}
		}
	}

}